<div>
    <div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div id="loginForm">
                <img src="https://www.fit2work.com.au/assets/img/avatars/LoginIconAppl.png" />
                <p><label>Username</label> <br/>
                    <input [(ngModel)]="model.username" type="text" id="username" name="username" required>
                </p>
                <p><label>Password</label> <br/>
                    <input [(ngModel)]="model.password" type="password" id="password" name="password" required>
                </p>
            </div>

            <p>
                <button type="submit" [disabled]="!loginForm.form.valid">Log in</button>
            </p>
        </form>
    </div>
</div>