ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

li {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

div.header {
    background-color: #e5e5e5;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
}


/* Change color on hover */

li:hover {
    background-color: #555;
    color: white;
}

#salutation {
    float: right;
    padding: 4pt 8pt;
}