<div class="container">
    <div>
        <select type="number" [(ngModel)]="categoryValue" (ngModelChange)="filterList($event)">
            <option selected="selected" [ngValue]="-1">Tutti</option>
            <option *ngFor="let category of categoryList" [ngValue]="category.id">{{category.description}}</option>
    </select> {{categoryValue}}
    </div>

    <!--
        <div>
        <h3>Filtro mediante ng-container</h3>
        <ul>
            <ng-container *ngFor="let item of dataList">
                <ng-container *ngIf="item.category == categoryValue">
                    <li [routerLink]="['/game-detail', item.id]">{{item.name}}</li>
                </ng-container>
            </ng-container>
        </ul>
    </div>
    <div>
    -->
    <h3> Filtro mediante filtrazione della lista</h3>
    <ul>
        <li *ngFor="let item of filteredList" [routerLink]="['/game-detail', item.id]" appMouseEnter>{{item.name}}</li>
    </ul>
</div>